.work-container{
    background: $black;
    padding: 2rem 2rem 6rem;
    div{
        display: flex;
        flex-wrap: wrap;
    }
    .work-single{
        overflow: hidden;
        padding: 1rem;
        width: 33%;
        @include bp(tablet){
            width: 50%;
        }
        @include bp(mobile){
            width: 100%
        }
        a{
            height: inherit;
            display: block;
            overflow:hidden;
            cursor: pointer; 
        }
        img{
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
            transition: all 0.3s ease-in-out;
        }
        &:hover{
            img{
               transform: scale(1.3); 
            }
            
        }
    }
}